<!-- El archivo Html contiene varios componentes y clases con estilos CSS propios  
de la libreria primeNg -->
<h1 class="p-text-center p-mb-4 p-mt-4" *ngIf="!clienteSeleccionado">Agregar cliente</h1>
<h1 class="p-text-center p-mb-4 p-mt-4" *ngIf="clienteSeleccionado">Actualizar cliente</h1>
<div class="p-mt-4">
    <p-panel header="Llene los campos requeridos " styleClass="animated fadeIn">
        <div class="w100 d-flex ">
            <!-- Formulario reactivo -->
            <form class="w100 formulario" [formGroup]="clienteForm" autocomplete="off">
                <!-- Visualiza los errores que me devuelva el back-end -->
                <div class="erroes bg-danger animated fadeIn " *ngIf="erroesBack.length > 0">
                    <p class="textDanger m errorTxt" *ngFor="let error of erroesBack">{{error}}</p>
                </div>
                <div class="d-flex-around panelPrincipal">
                    <div class="w40 panel">
                         <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
                        <div class="form-controles p-mb-1">
                            <label class="p-mb-2">Nombre</label>
                            <input type="text" pInputText class="p-inputtext-lg mT" formControlName="nombre">
                            <div *ngIf="clienteForm.controls.nombre.errors !== null && formSubmitted">
                                <span class="textDanger"
                                    *ngIf="clienteForm.controls.nombre.errors.required == true">Este campo es
                                    requerido</span>
                                <span class="textDanger" *ngIf="clienteForm.controls.nombre.errors.minlength">Minimo
                                    dos caracteres</span>
                            </div>
                        </div>
                         <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
                        <div class="form-controles p-mb-1">
                            <label class="p-mb-2">Cédula</label>
                            <input type="text" pInputText class="p-inputtext-lg" formControlName="cedula">
                            <div *ngIf="clienteForm.controls.cedula.errors !== null && formSubmitted">
                                <span class="textDanger"
                                    *ngIf="clienteForm.controls.cedula.errors.required == true">Este campo es
                                    requerido</span>
                                <span class="textDanger" *ngIf="clienteForm.controls.cedula.errors.pattern">La
                                    cedula debe tener 10 caracteres</span>
                            </div>
                        </div>
                         <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
                        <div class="form-controles p-mb-1">
                            <label class="p-mb-2">Teléfono</label>
                            <input type="text" pInputText class="p-inputtext-lg" formControlName="telefono">
                            <div *ngIf="clienteForm.controls.telefono.errors !== null && formSubmitted">
                                <span class="textDanger"
                                    *ngIf="clienteForm.controls.telefono.errors.required == true">Este campo es
                                    requerido</span>
                                <span class="textDanger" *ngIf="clienteForm.controls.telefono.errors.pattern">Ingrese
                                    número de telefono
                                    o movil válidos</span>
                            </div>
                        </div>
                         <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
                        <div class="form-controles p-mb-1">
                            <label class="p-mb-2">Email</label>
                            <input type="text" pInputText class="p-inputtext-lg" formControlName="usuario">
                            <div *ngIf="clienteForm.controls.usuario.errors !== null && formSubmitted">
                                <span class="textDanger"
                                    *ngIf="clienteForm.controls.usuario.errors.required == true">Este campo es
                                    requerido</span>
                                <span class="textDanger" *ngIf="clienteForm.controls.usuario.errors.email">Email
                                    inválido</span>
                            </div>
                        </div>
                         <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
                        <div class="form-controles p-mb-1">
                            <label class="p-mb-2">Contraseña</label>
                            <p-password class="p-inputtext-lg " [styleClass]="'w100'" [inputStyleClass]="'w100'" [feedback]="false"
                                formControlName="clave" [toggleMask]="true"></p-password>
                            <div *ngIf="clienteForm.controls.clave.errors !== null && formSubmitted">
                                <span class="textDanger"
                                    *ngIf="clienteForm.controls.clave.errors.required == true && !clienteSeleccionado">
                                    Este campo es requerido
                                </span>
                                <span class="textDanger"
                                    *ngIf="clienteForm.controls.clave.errors.minlength && !clienteSeleccionado">
                                    Minimo 6 caracteres</span>
                            </div>
                        </div>
                        <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
                        <div class="form-controles p-mb-1 p-fluid w100">
                            <label class="p-mb-2">Ocupación</label>
                            <input type="text" pInputText class="p-inputtext-lg" formControlName="ocupacion">
                            <div *ngIf="clienteForm.controls.ocupacion.errors !== null && formSubmitted">
                                <span class="textDanger"
                                    *ngIf="clienteForm.controls.ocupacion.errors.required == true">Este campo es
                                    requerido
                                </span>
                                <span class="textDanger" *ngIf="clienteForm.controls.ocupacion.errors.minlength">Minimo
                                    dos caracteres
                                </span>
                            </div>
                        </div>
                         
                    </div>
                    <div class="w40 panel">
                        <!-- contiene la etiqueta, el campo y los posibles mensajes de error--> 
                        <div class="form-controles p-mb-1 p-fluid">
                            <label class="p-mb-2">Vendedor email</label>
                            <p-autoComplete class="p-inputtext-lg" formControlName="vendedor"
                                [suggestions]="listaVendedores" (completeMethod)="listarDatos($event, 'vendedor')"
                                field="email" [minLength]="1" autocomplete=off></p-autoComplete>
                            <span class="textDanger" *ngIf="mensajeErrorVendedor">{{mensajeErrorVendedor}}</span>
                            <div *ngIf="clienteForm.controls.vendedor.errors !== null && formSubmitted">
                                <span class="textDanger"
                                    *ngIf="clienteForm.controls.vendedor.errors.required == true">Este campo es
                                    requerido</span>
                            </div>
                        </div>
                        
                        <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
                        <div class="form-controles p-mb-1 p-fluid">
                            <label class="p-mb-2">Tarjeta código</label>
                            <p-autoComplete class="p-inputtext-lg" formControlName="tarjeta"
                                [suggestions]="listaTarjetas" (completeMethod)="listarDatos($event, 'tarjeta')"
                                field="codigo" [minLength]="1"></p-autoComplete>
                            <span class="textDanger" *ngIf="mensajeErrorTarjeta">{{mensajeErrorTarjeta}}</span>
                            <div *ngIf="clienteForm.controls.tarjeta.errors !== null && formSubmitted">
                                <span class="textDanger" *ngIf="clienteForm.controls.tarjeta.errors.required == true">
                                    Este campo es requerido
                                </span>
                            </div>
                        </div>
                         <!-- contiene la etiqueta, el campo comboBox y los posibles mensajes de error-->
                        <div class="flex datos comboBox w100">
                            <div class="form-controles p-mb-1 margen-r p-fluid w100">
                                <label class="p-mb-2">Género</label>
                                <!-- select -->
                                <p-dropdown class="p-inputtext-lg" [options]="generos" placeholder="Seleccionar género"
                                    formControlName="genero"></p-dropdown>
                                <div *ngIf="clienteForm.controls.genero.errors !== null && formSubmitted">
                                    <span class="textDanger"
                                        *ngIf="clienteForm.controls.genero.errors.required == true">
                                        Este campo es requerido
                                    </span>
                                </div>
                            </div>
                             <!-- contiene la etiqueta, el campo comboBox y los posibles mensajes de error-->
                            <div class="form-controles p-mb-1  p-fluid w100">
                                <label class="p-mb-2">Tipo de sangre</label>
                                <!-- select -->
                                <p-dropdown class="p-inputtext-lg" [options]="tiposSangre"
                                    placeholder="Seleccionar tipo sangre" formControlName="tipoSangre"></p-dropdown>
                                <div *ngIf="clienteForm.controls.tipoSangre.errors !== null && formSubmitted">
                                    <span class="textDanger"
                                        *ngIf="clienteForm.controls.tipoSangre.errors.required == true">
                                        Este campo es requerido
                                    </span>
                                </div>
                            </div>
                        </div>
                         
                        <div class="flex datos comboBox p-d-flex p-flex-wrap w100 ">
                            
                             <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
                            <div class="form-controles p-mb-1 p-fluid w100">
                                <label class="p-mb-2">Puntos tarjeta</label>
                                <input type="number" pInputText class="p-inputtext-lg" formControlName="puntos">
                                <span class="textDanger" *ngIf="mensajeError">{{mensajeError}}</span>
                                <div *ngIf="clienteForm.controls.puntos.errors !== null && formSubmitted">
                                    <span class="textDanger"
                                        *ngIf="clienteForm.controls.puntos.errors.required == true">Este campo es
                                        requerido
                                    </span>
                                    <span class="textDanger" *ngIf="clienteForm.controls.puntos.errors.minlength">Minimo
                                        dos caracteres
                                    </span>
                                </div>
                            </div>
                        </div>
                         <!-- contiene la etiqueta, el campo comboBox de multi-seleccion -->
                        <div class="form-controles w100 p-mb-1 p-fluid">
                            <label class="p-mb-2">Intereses</label>
                            <p-multiSelect  styleClass="multi"
                                [options]="listaIntereses"  
                                defaultLabel="Seleccionar intereses" 
                                optionLabel="nombre"
                                [maxSelectedLabels] = "0"
                                selectedItemsLabel="{0} intereses seleccionados"
                                formControlName = "intereses"
                                emptyFilterMessage ="No hay datos">
                            </p-multiSelect>
                        </div>
                    </div>
                </div>
                <!-- contiene los botones de acción -->
                <div class="contenedorBtn  p-mt-4 mt btnAction flex w100">
                    <div class="elemento3 p-grid">
                        <p-button class="p-col-6" icon="pi pi-arrow-left" [routerLink]="['/cliente/:page']"
                            label="Regresar" styleClass="p-button-lg p-button-outlined p-button-info">
                        </p-button>
                    </div>
                    <div class="elemento3 p-grid">
                        <p-button class="p-col-6 p-md-2" icon="pi pi-save" label="Guardar" (click)="enviarDatos()"
                            styleClass="p-button-lg p-button-primary">
                        </p-button>
                    </div>
                </div>
            </form>
        </div>
    </p-panel>
</div>