h1 {
    color: white;
}

.form-controles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.errorTxt{
    color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.alto {
    margin-top: 50px;
}
.large {
    width: 100%;
}
.margen-r {
    margin-right: 2%;
}
/*  :host estilos a etiquetas secundarias de primeNg  */
:host ::ng-deep .multi {
    height: 53px;
}
/*  Media Queries para distintos tamaños de dispositivos */
/*  Media Querie de 1290px  */
@media screen and (max-width: 1290px) {
    .margen {
        width: 100%;
    }
}
/*  Media Querie de 1266px  */
@media screen and (max-width: 1266px) {
    .datos{
        display: block;
    }
}
/*  Media Querie de 800px  */
@media screen and (max-width: 800px) {
    .contenedorBtn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        margin-top: 6%;
    }
    .elemento3 {
        margin-right: 10%;
        margin-top: -3%;
        text-align: center;
    }
    .formulario {
        width: 100%;
    }
    h1 {
        font-size: 2em;
    }
}
/*  Media Querie de 550px  */
@media screen and (max-width: 550px) {
    .form > .form-controles, .contenedorBtn{
        margin-top: 0px;
    }
    .elemento3 {
        margin-top: 0%;
        /* text-align: center; 
         align-content: center;  */
        margin-left: auto;
        margin-right: auto; 
    }
    h1 {
        font-size: 1.6em;
    }
}
/*  Media Querie de 625px  */
@media screen and (max-width: 625px) {
    .panel {
        width: 100%;
    }
    .panelPrincipal{
        display: block;
    }
    .comboBox{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .margen {
        margin-right: 4%;
    }
    
}


