
<!-- El archivo Html contiene varios componentes y clases con estilos CSS propios  
de la libreria primeNg -->
<h1 class="p-text-center p-mb-4 p-mt-4" *ngIf="!seguimientoSeleccionado">Agregar Seguimiento</h1>
<h1 class="p-text-center p-mb-4 p-mt-4" *ngIf="seguimientoSeleccionado">Actualizar Seguimiento</h1>
<div class="p-mt-4">
    <p-panel header="Llene los campos requeridos " styleClass="animated fadeIn ">
        <div class="w100 d-flex ">
            <!-- Formulario reactivo -->
            <form class="w100 formulario" [formGroup]="seguimientoForm" autocomplete="off">
                <!-- Visualiza los errores que me devuelva el back-end -->
                <div class="erroes bg-danger animated fadeIn" *ngIf="erroesBack.length > 0">
                    <p class="textDanger m errorTxt" *ngFor="let error of erroesBack">{{error}}</p>
                </div>
                <div class="panelPrincipal">
                    <div class="w100 panel">
                        <!-- input de filtrado por campos -->
                        <div *ngIf="!clienteSeleccionado || !verCampoFiltrado " class="contenedor-filtrar  p-d-flex p-flex-wrap">
                            <label class="p-mb-2 m-r lab">Buscar cliente:</label>
                            <div class="seccion p-d-flex">
                                <!-- comboBox  -->
                                <p-dropdown class="buscarTxt  p-mr-4 " [options]="buscarPor" styleClass="boxBuscar" placeholder="Buscar por" (onChange)="verificarSeleccionCampo($event)"></p-dropdown>
                                <!-- input para buscar -->
                                <div class="buscarTxt busqueda  p-fluid">
                                    <span class="p-input-icon-left ">
                                        <!-- usamos un ternario apra identificar el tipo de label a mostar al usuario -->
                                        <p-autoComplete  styleClass="w100"
                                            [disabled]="seleccionCampo === undefined" 
                                            [suggestions]="listaClientes" 
                                            (completeMethod)="listarDatos($event)"
                                            [field]="seleccionCampo === 'cedula' ? 'cedula': 'usuario.nombre'" 
                                            [minLength]="1" 
                                            autocomplete=off
                                            [emptyMessage]="'No hay datos'"
                                            (onSelect) ="asignarCliente($event)"
                                            >
                                        </p-autoComplete>
                                    </span>
                                </div>
                            </div>
                        </div>   
                        <hr>
                        <!-- Contenedor donde me visualiza los datos seleccionador de un cliente -->
                        <div class="contenedor" *ngIf="clienteSeleccionado">
                            <h4 [ngStyle]="{color:'var(--blue-500)'}">Cliente a dar seguimiento</h4>
                            <div class="d-flex-between" >
                                <h5 class="p-mb-2">Nombre: <strong>{{clienteSeleccionado.usuario.nombre}}</strong></h5>
                                <h5 class="p-mb-2">Cédula:  <strong>{{clienteSeleccionado.cedula}}</strong></h5>
                                <button pButton pRipple type="button"  label="Ver" class="p-button-raised p-button-warning p-button-text" (click)="abrirModal()"></button>
                            </div>
                            <hr>
                        </div>

                        <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
                        <div class="form-controles p-mb-1">
                            <label class="p-mb-2">Observación</label>
                            <textarea rows="3" cols="30" pInputTextarea formControlName="observacion"
                                [autoResize]="false"></textarea>
                            <div *ngIf="seguimientoForm.controls.observacion.errors !== null && formSubmitted">
                                <span class="textDanger"
                                    *ngIf="seguimientoForm.controls.observacion.errors.required == true">Este campo es
                                    requerido</span>
                                <span class="textDanger"
                                    *ngIf="seguimientoForm.controls.observacion.errors.minlength">Minimo
                                    dos caracteres</span>
                            </div>
                        </div>

                        <div class="flex datos comboBoxTxt p-d-flex p-flex-wrap  " >
                            <!-- contiene la etiqueta, el campo comboBox y los posibles mensajes de error-->
                            <div class="form-controles p-mb-4 BoxTxt Box p-fluid ">
                                <label class="p-mb-2">Nivel de satisfaccion:</label>
                                <!-- comboBox -->
                                <p-dropdown class="p-inputtext-lg" [options]="nivelSatisfaccionCliente" styleClass="w100"
                                    placeholder="Seleccionar nivel" formControlName="nivelSatisfaccion">
                                </p-dropdown>
                                <div
                                    *ngIf="seguimientoForm.controls.nivelSatisfaccion.errors !== null && formSubmitted">
                                    <span class="textDanger"
                                        *ngIf="seguimientoForm.controls.nivelSatisfaccion.errors.required == true">
                                        Este campo es requerido
                                    </span>
                                </div>
                            </div>

                            <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
                            <div class="form-controles  p-mb-4 BoxTxt p-fluid">
                                <label class="p-mb-2">Fecha del seguimiento</label>
                                <p-calendar formControlName="fecha" dateFormat="dd-mm-yy" [showIcon]="true" inputId="icon" 
                                styleClass=" p-inputtext-lg w100" ></p-calendar>
                                <div *ngIf="seguimientoForm.controls.fecha.errors !== null && formSubmitted">
                                    <span class="textDanger"
                                        *ngIf="seguimientoForm.controls.fecha.errors.required == true">Este campo es
                                        requerido</span>
                                </div>
                            </div>
                        </div>

                        <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
                        <div class="form-controles p-mb-1">
                            <label class="p-mb-2">Razon del inconveniente</label>
                            <textarea rows="3" cols="30" pInputTextarea formControlName="razonInconveniente"
                                [autoResize]="false"></textarea>
                            <div *ngIf="seguimientoForm.controls.razonInconveniente.errors !== null && formSubmitted">
                                <span class="textDanger"
                                    *ngIf="seguimientoForm.controls.razonInconveniente.errors.required == true">Este
                                    campo es
                                    requerido</span>
                            </div>
                        </div>

                        <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
                        <div class="form-controles p-mb-1">
                            <label class="p-mb-2">Sugerencias del cliente: </label>
                            <textarea rows="3" cols="30" pInputTextarea formControlName="sugerenciaCliente"
                                [autoResize]="false"></textarea>
                            <div *ngIf="seguimientoForm.controls.sugerenciaCliente.errors !== null && formSubmitted">
                                <span class="textDanger"
                                    *ngIf="seguimientoForm.controls.sugerenciaCliente.errors.required == true">Este campo es
                                    requerido</span>
                            </div>
                        </div>

                        <!-- contiene los botones de acción -->
                        <div class="contenedorBtn  p-mt-4 mt btnAction flex w100">
                            <div class="elemento3 p-grid">
                                <p-button class="p-col-6" icon="pi pi-arrow-left"
                                    [routerLink]="['/seguimientoCliente/:page']" label="Regresar"
                                    styleClass="p-button-lg p-button-outlined p-button-info">
                                </p-button>
                            </div>
                            <div class="elemento4 p-grid">
                                <p-button class="p-col-6 p-md-2" icon="pi pi-save" label="Guardar" 
                                          styleClass="p-button-lg p-button-primary" (click)="enviarDatos()">
                                </p-button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </p-panel>
</div>
<!-- modal para mostrar los datos de un cliente seleccionado -->
<p-dialog header="Datos cliente" [(visible)]="abrir" [modal]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" styleClass="modalContent">
    <div *ngIf="clienteSeleccionado">
        <span class="txtCliente"><strong class="p-mr-2">Nombre:</strong>  {{ clienteSeleccionado.usuario.nombre}} </span><br>
        <span class="txtCliente"><strong class="p-mr-2">Cédula:</strong>  {{ clienteSeleccionado.cedula}} </span><br>
        <span class="txtCliente"><strong class="p-mr-2">Email:</strong>  {{ clienteSeleccionado.usuario.usuario}} </span><br>
        <span class="txtCliente"><strong class="p-mr-2">Teléfono:</strong>  {{ clienteSeleccionado.usuario.telefono}} </span><br>
        <span class="txtCliente"><strong class="p-mr-2">Tarjeta:</strong>  {{ clienteSeleccionado.tarjeta.codigo}}</span><br>
        <span class="txtCliente"><strong class="p-mr-2">Puntos tarjeta:</strong>  {{ clienteSeleccionado.puntos}}</span><br>
        <span class="txtCliente"><strong class="p-mr-2">Vendedor:</strong>  {{ clienteSeleccionado.vendedor.nombres}} {{clienteSeleccionado.vendedor.apellidos}} </span>
    </div>
    <ng-template pTemplate="footer" >
        <p-button icon="pi pi-check" (click)="abrir=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
