h1 {
    color: white;
}

.form-controles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mb {
    margin-bottom: 2px;
}

.mt {
    margin-top: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.alto {
    margin-top: 50px;
}
.errorTxt{
    color: white;
}

.panelPrincipal {
    display: flex;
    justify-content: center;
}
.panel {
    width: 50%;
}
/* campo filtrar */
.busqueda  {
    display: flex;
    align-items: center;
    width: 100%;
    /* margin-right: 4%; */
}
.seccion {
    /* display: flex;
   flex-wrap: wrap; */
 width:100%;
}
/* contenedor-filtrar */
.contenedor-filtrar {
   width: 100%;
   
}
.buscarTxt {
    margin: 0;
}
.m-r {
    margin-right: 2%;
}
.busqueda{
    align-content: center;

}
.mr {
    margin-right: 2%;
}
.Box {
    margin-right: 2%;
}

/*  :host estilos a etiquetas secundarias de primeNg  */
:host ::ng-deep .modalContent {
    width: 50%;
}
:host ::ng-deep  .txtCliente{
    font-size: 25px;
    margin-bottom: 2%;
}
/*  Media Queries para distintos tamaños de dispositivos */
/*  Media Querie de 1073px  */
@media screen and (max-width: 1073px) {
    .buscarTxt {
        margin-bottom: 2%;
    }
    .BoxTxt {
        width: 100%;
    }
    .Box {
        margin-right: 0;
    }
    :host ::ng-deep  .txtCliente{
        font-size: 20px;
        margin-bottom: 2%;
    }
    :host ::ng-deep .modalContent {
        width: 55%;
    }
}

/*  Media Querie de 1035px  */
@media screen and (max-width: 1035px) {
    .comboBoxTxt {
        width: 100%;
    }
    .BoxTxt {
        width:100%;
    }
    .calend{
        width:100%; 
    }
    :host ::ng-deep  .txtCliente{
        font-size: 18px;
        margin-bottom: 2%;
    }
    :host ::ng-deep .modalContent {
        width: 58%;
    }
}

/*  Media Querie de 780px  */
@media screen and (max-width: 780px) {
    .contenedorBtn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
    }
    .elemento3 {
        margin-right: 10%;
        margin-top: -3%;
        text-align: center;
       
    }
    .elemento4 {
        margin-top: -3%;
        text-align: center;
       
    }
    .formulario {
        width: 100%;
    }
    h1 {
        font-size: 2em;
    }
    .panel {
        width: 65%;
    }
    :host ::ng-deep  .txtCliente{
        font-size: 16px;
        margin-bottom: 2%;
    }
    :host ::ng-deep .modalContent {
        width: 60%;
    } 
}

/*  Media Querie de 635px  */
@media screen and (max-width: 635px) {
    .lab {
        margin: auto;
    }
     .contenedorBtn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
    }
    .seccion {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    :host ::ng-deep .modalContent {
        width: 65%;
    }
}

/*  Media Querie de 550px  */
@media screen and (max-width: 550px) {
    .form > .form-controles, .contenedorBtn{
        margin-top: -12px;
    }
    .elemento3, .elemento4  {
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto; 
    }
    h1 {
        font-size: 1.6em;
    }
    .panel {
        width: 80%;
    }
    :host ::ng-deep .modalContent {
        width: 68%;
    }
}

/*  Media Querie de 480px  */
@media screen and (max-width: 480px) {
    .panel {
        width: 95%;
    }
    :host ::ng-deep .modalContent {
        width: 70%;
    }
}

/*  Media Querie de 400px  */
@media screen and (max-width: 400px) {
    .panel {
        width: 99%;  
    }
}

 