/*  :host estilos a etiquetas secundarias de primeNg  */
:host ::ng-deep .cardLogin {
    margin-top: 0.5%;
    margin-bottom: 0.1%;
    width: 40%;
    justify-content: center;
    align-content: center;
    
}
/*  :host estilos a etiquetas secundarias de primeNg  */
:host ::ng-deep .btn {
   width: 350%;
   margin-left: 10%;
 
}

.btnLogin {
    width: 100%;
      margin-left: -14%;
}

.logo {
    width: 35%;
}

/*  Media Queries para distintos tamaños de dispositivos */
/*  Media Querie de 1000px  */
@media screen and (max-width: 1000px) {
    :host ::ng-deep .cardLogin {
        width: 60%;
    }
}
/*  Media Querie de 770px  */
@media screen and (max-width: 770px) {
    :host ::ng-deep .cardLogin {
        width: 65%;        
    }
    :host ::ng-deep .btn {
        width: auto;
        margin-left: 30%; 
     }
}
/*  Media Querie de 650px  */
@media screen and (max-width: 650px) {
    :host ::ng-deep .cardLogin {
        width: 75%;
    }
}
/*  Media Querie de 600px  */
@media screen and (max-width: 600px) {
    :host ::ng-deep .cardLogin {
        width: 85%;  
    }
}
/*  Media Querie de 550px  */
@media screen and (max-width: 550px) {
    :host ::ng-deep .cardLogin {
        width: 90%; 
    }
}
/*  Media Querie de 400px  */
@media screen and (max-width: 400px) {
    :host ::ng-deep .cardLogin {
        width: 95%   
    }
}
/*  Media Querie de 350px  */
@media screen and (max-width: 350px) {
    :host ::ng-deep .cardLogin {
        width: 97%;  
    }
}
