<!-- El archivo Html contiene varios componentes y clases con estilos CSS propios  
de la libreria primeNg -->
<p-card  class="tamanio p-d-flex p-jc-center" styleClass="cardLogin animated fadeIn">
    <!-- Formulario reactivo -->
    <form class="w100 formulario" [formGroup]="loginForm" autocomplete="off">
        
        <h1 class="p-text-center">Iniciar sesión</h1>
        <!-- contiene la imagen de login -->
        <div class="p-d-flex p-jc-center p-mt-1 p-mb-1">
            <i class="pi pi-users" style="font-size: 12.5rem"></i>
        </div>
         <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
        <div class="form-controles  p-fluid">
            <label class="p-mb-2">Usuario</label>
            <input type="text" pInputText class="p-inputtext-lg" formControlName="username" autofocus>
            <div *ngIf="loginForm.controls.username.errors !== null && formSubmitted">
                <span class="textDanger"
                    *ngIf="loginForm.controls.username.errors.required == true">El campo usuario es
                    requerido
                </span>
                <span class="textDanger" *ngIf="loginForm.controls.username.errors.minlength">
                    Mínimo dos caracteres
                </span>
            </div>
        </div>
         <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
        <div class="form-controles ">
            <label class="p-mb-2">Contraseña</label>
            <p-password class="p-inputtext-lg " [styleClass]="'w100'" [inputStyleClass]="'w100'" [feedback]="false"
                 [toggleMask]="true" formControlName="password"></p-password>
            <div *ngIf="loginForm.controls.password.errors !== null && formSubmitted">
                <span class="textDanger"
                    *ngIf="loginForm.controls.password.errors.required == true">
                    Este campo contraseña es requerido
                </span>
                <span class="textDanger"
                    *ngIf="loginForm.controls.password.errors.minlength">
                    Mínimo 2 caracteres
                </span> 
            </div>
        </div>
        <!-- contiene el botón de acción -->
        <div class=" p-md-2 p-mt-0 p-d-flex p-jc-center  btnLogin">
            <p-button class="p-md-2 p-mt-2" label="Iniciar sesión"
                styleClass="p-button-lg p-button-primary btn" (click)="enviarDatosLogin()" >
            </p-button>  
        </div>
    </form>  
</p-card>
