<!-- El archivo Html contiene varios componentes y clases con estilos CSS propios  
de la libreria primeNg -->
<h1>Clientes</h1>
<!-- contenedor donde se encuentra las funcionalidades de buscar y agregar -->
<div class="contenedor">
    <div class="seccion conten">
        <!-- comboBox -->
        <p-dropdown class="buscarTxt  mr" [options]="buscarPor" [(ngModel)]="seleccionCampo" placeholder="Buscar por" (onChange)="verificarSeleccionCampo()"></p-dropdown>
        <div *ngIf="verificarCampo" class="bg-danger w100 mt-1 ml-2 animated fadeIn">
            <p class="textInfo m">Seleccione un campo de búsqueda</p>
        </div>
        <!-- input para buscar -->
        <div class="buscarTxt busqueda">
            <span class="p-input-icon-left mr" >
                <i class="pi pi-search"></i>
                <input type="text"  [(ngModel)]="terminoBusqueda"  pInputText placeholder="Search" >         
            </span>
            <!-- buttom busqueda -->
            <p-button class="mr" icon="pi pi-search" styleClass="p-button-sm p-button-secondary"  (click)="filtrarCliente()"></p-button>
            <div *ngIf="verificarTermino" class="bg-danger w100 mt-1 ml-2 animated fadeIn">
                <p class="textInfo m">Ingrese al menos 1 caracteres</p>
            </div>
        </div>
    </div>
    <!-- buttom agregar -->
    <p-button class="conten" [routerLink]="['/agregarCliente/:id']" icon="pi pi-plus-circle" label="Agregar" styleClass="p-button-sm"></p-button>
</div>

<!-- contenedor donde me lista los registros -->
<div *ngIf="listaClientes.length > 0" class="w100 table-responsive">
    <!-- tabla de los registros -->
    <table class="table table-dark table-borderless table-sm table-striped tablaEstilo" *ngIf="listaClientes.length > 0">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Cédula</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Puntos Tarjeta</th>
                <th>Detalles</th>
                <th>Editar</th>
                <th>Eliminar</th>
                <th>Seguimiento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of listaClientes; index as rowIndex">
                <td class="text">{{(rowIndex + 1) + (10 * num)}}</td>
                <td class="text">{{cliente.usuario.nombre}}</td>
                <td class="text">{{cliente.cedula}}</td>
                <td class="text">{{cliente.usuario.usuario}}</td>
                <td class="text">{{cliente.usuario.telefono}}</td>
                <td class="text">{{cliente.puntos}}</td>
                <td>
                    <p-button icon="pi pi-id-card" styleClass="p-button-sm p-button-help" (click)="abrirModal(cliente)" tooltipPosition="bottom" pTooltip="Ver detalles cliente"></p-button>
                </td>
                <td>
                    <p-button icon="pi pi-user-edit" styleClass="p-button-sm p-button-warning" [routerLink]="['/agregarCliente',cliente.id]"></p-button>
                </td>
                <td>
                    <p-button icon="pi pi-trash" styleClass="p-button-sm p-button-danger" (click)="eliminarCliente(cliente)"></p-button>
                </td>
                <td>
                    <p-button icon="pi pi-copy" styleClass="p-button-sm p-button-success"  [routerLink]="['/agregarSeguimiento',cliente.id,':ids']" tooltipPosition="bottom" pTooltip="Dar seguimiento"></p-button>
                </td>
            </tr>
        </tbody>
    </table>
</div> 

<!-- Paginador  -->
<app-paginador *ngIf="paginador" [paginador]="paginador" [nombreUrl]="'cliente'" [num]="num"></app-paginador> 

<!-- Contenedor con mensaje cuando no hay registros encontrados -->
<div *ngIf="listaClientes.length === 0" class="bg-info w100 mt-2 animated fadeIn">
    <p class="textInfo m" *ngIf="!mensajeError">No hay Datos a mostrar  </p>
    <p class="textInfo m animated fadeIn" *ngIf="mensajeError"> {{mensajeError}} </p>
</div>

<!-- dialog -->
<p-confirmDialog class="dialog" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<!-- Modal class="modal"-->
<p-dialog header="Detalle cliente" [(visible)]="abrir" styleClass="modalContent">
    <div *ngIf="clienteSeleccionado">
        <!-- ventana de tabla con pestañas -->
        <p-tabView >
            <p-tabPanel header="Datos">
                <h5>Detalle cliente</h5>
                <p><strong>Género: </strong>{{clienteSeleccionado.genero}}</p>
                <p><strong>Ocupación: </strong>{{clienteSeleccionado.ocupacion}}</p>
                <p><strong>Tipo Sangre: </strong><span class="bg-info textInfo">{{clienteSeleccionado.tipoSangre | uppercase}}</span></p>
                <p class="mb-1" ><strong>Intereses: </strong></p>
                <ul *ngIf="clienteSeleccionado.intereses.length > 0; else noInstereses">
                    <li *ngFor="let interes of clienteSeleccionado.intereses">{{interes.nombre}}</li>
                </ul>
                <ng-template #noInstereses>
                    <span>Sin instereses</span>
                </ng-template>
                
            </p-tabPanel>
            <p-tabPanel header="Vendedor">
                <h5>Datos vendedor</h5>
                <p><strong>Nombres: </strong>{{clienteSeleccionado.vendedor.nombres}}</p>   
                <p><strong>Apellidos: </strong>{{clienteSeleccionado.vendedor.apellidos}}</p>   
                <p><strong>Email: </strong>{{clienteSeleccionado.vendedor.email}}</p>   
                <p><strong>Teléfono: </strong>{{clienteSeleccionado.vendedor.telefono}}</p>   
            </p-tabPanel>
            <p-tabPanel header="Tarjeta">
                <h5>Datos tarjeta</h5>
                <p><strong>Código: </strong>{{clienteSeleccionado.tarjeta.codigo}}</p>
                <p><strong>Fecha expiración: </strong>{{clienteSeleccionado.tarjeta.fechaCaducar |date:'d/MM/yyyy'}}</p>
                <p><strong>Puntos: </strong>{{clienteSeleccionado.puntos}}</p>
            </p-tabPanel>
            <p-tabPanel header="usuario" *ngIf="authService.hasRole('ROLE_Admin')">
                <h5>Datos usuario</h5>
                <p><strong>Nombre: </strong>{{clienteSeleccionado.user.name}}</p>
                <p><strong>Nombre u suario: </strong>{{clienteSeleccionado.user.username}}</p>
                <p><strong>Rol: </strong>{{clienteSeleccionado.user.userLevel.groupName}}</p>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div *ngIf="!clienteSeleccionado" class="bg-info w100 mt-2 animated fadeIn">
        <p class="textInfo m">No hay Datos a mostrar</p>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="abrir=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>