<!-- 
    Vista de reporte de vendedores
    un input itpo texto y un boton para buscar
    dos botones generar reporte pdf y xlsx
    tabla de datos
 -->
<div class="w100 d-flex-between  mt-2 mb-2">
    <div class="w50 d-flex-between d-justify-end" >
        <div class="d-flex-between w50" >
            <!-- input para filtrar vendedor -->
            <div>
                <label class="p-mb-2 textColor">Nombre vendedor: </label>
                <input type="text" pInputText class="p-inputtext-lg mT w100" [(ngModel)]="termino">
            </div>
        </div>
        <!-- boton accion listar vendedores por campo filtrado -->
        <div class="w30"  >
            <p-button icon="pi pi-search" label="Buscar" styleClass="p-button-lg" (click)="listaVendedores()"></p-button>
        </div>
   </div>
   <!-- botones a generar reportes -->
   <div class="">
    <label class="p-mb-2 textColor" >Exportar:</label>
    <div>
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="generarXlxs()"  class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="generarPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
    </div>
</div>
</div>
<!-- tabla de vendedores -->
<p-table #dt [columns]="columnas" *ngIf="datosVendedoresReporte.length > 0"
         [value]="datosVendedoresReporte" 
         [paginator]="true" 
         [rows]="10" [showCurrentPageReport]="true" 
         currentPageReportTemplate="Desde el {first} al {last} de {totalRecords} elementos" 
         [rowsPerPageOptions]="[10,25,50]"
         [tableStyleClass]="'animated, fadeIn'">
    <ng-template pTemplate="caption">
    <!-- cabeceras -->
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th [class]="'w5'">
                #
            </th>
            <th *ngFor="let col of columnas">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <!-- body -->
    <ng-template pTemplate="body" let-rowData let-columns="columnas" let-index="rowIndex" >
        <tr [pSelectableRow]="rowData">
            <td>
                {{index+1}}
            </td>
            <td>
                {{rowData.vendedor}}
            </td>
            <td>
                {{rowData.clientes}}
            </td>
            <td>
                {{rowData.clientesAct}}
            </td>
            <td>
                {{rowData.clientesDes}}
            </td>
            <td>
                {{rowData.promNivel}}
            </td>
        </tr>
    </ng-template>
    <!-- si no hay datos -->
    <ng-template pTemplate="emptymessage" let-columns="columnas">
        <tr>
            <td [attr.colspan]="columnas.length+1">
                No hay Datos
            </td>
        </tr>
    </ng-template>
</p-table>
<!-- Contenedor con mensaje cuando no hay registros encontrados -->
<div *ngIf="datosVendedoresReporte.length === 0" class="bg-info w100 mt-4 animated fadeIn">
    <p class="textInfo m" >No hay Datos a mostrar  </p>
</div>
