<!-- El archivo Html contiene varios componentes propios  
de la libreria primeNg -->
<p-menubar [model]="items">
    <button type="button" pButton pRipple  [label]="usuarioGuardado().username" [iconPos]="'right'" icon="pi pi-ellipsis-v" (click)="menu.toggle($event)"></button>
</p-menubar>
<p-menu #menu [popup]="true" [model]="datosUsuario"></p-menu>