<h1 class="ventana">Seguimiento Cliente</h1>
<!-- Contenedor con mensaje cuando no se llena los campos de fecha -->
<div *ngIf="mensajeErrorFecha" class="animated fadeIn mError">
        <p style="color: red;">{{mensajeErrorFecha}}</p>
</div>
<!-- Contenedor principal -->
<div class="contenedor">
    <div class="seccion conten">
        <!-- comboBox -->
        <p-dropdown class="buscarTxt  mr" [options]="buscarPor" [(ngModel)]="seleccionCampo" placeholder="Buscar por" (onChange)="verificarSeleccionCampo()"></p-dropdown>
        <div *ngIf="verificarCampo" class="bg-danger w100 mt-1 ml-2 animated fadeIn">
            <p class="textInfo m">Seleccione un campo de búsqueda</p>
        </div>
        <!-- input para buscar -->
        <div class="buscarTxt busqueda">
            <span class="p-input-icon-left mr" *ngIf="seleccionCampo !== 'fecha'; else fechaTemplate">
                <i class="pi pi-search"></i>
                <input type="text"  [(ngModel)]="terminoBusqueda"  pInputText placeholder="Search" >         
            </span>
            <!-- si selecciona la opción fecha me visualiza los 2 campos fecha  -->
            <ng-template #fechaTemplate>
                <div class="calendar">
                     <!-- Contiene los inputs para buscar rango de fechas -->
                    <div class="busqueda fechaC ">
                        <div class="fecha p-mr-2">
                            <p-calendar [(ngModel)]="campoFechaDesde" dateFormat="dd-mm-yy" [showIcon]="true" inputId="icon" class="mr"></p-calendar>
                        </div>
                        <div class="fecha ">
                            <p-calendar [(ngModel)]="campoFechaHasta"  dateFormat="dd-mm-yy" [showIcon]="true" inputId="icon" class="mr"></p-calendar>
                        </div>
                    </div>
                </div>
            </ng-template>
            <!-- btn busqueda -->
            <p-button class="mr" icon="pi pi-search" styleClass="p-button-sm p-button-secondary" (click)="filtrarSeguimientos()" ></p-button>
            <div *ngIf="verificarTermino" class="bg-danger w100 mt-1 ml-2 animated fadeIn">
                <p class="textInfo m">Ingrese al menos 1 caracteres</p>
            </div> 
        </div>
    </div>
    <!-- buttom agregar -->
    <p-button class="conten" [routerLink]="['/agregarSeguimiento/:idc/ids']" icon="pi pi-plus-circle" label="Agregar" styleClass="p-button-sm"></p-button>
</div>

<!-- contenedor donde me lista los registros -->
<div class="w100 table-responsive">
    <!-- tabla de los registros -->
    <table class="table table-dark table-borderless table-sm table-striped tablaEstilo" *ngIf="listaClientesSeguimientos.length > 0 && seguimientosPorFecha.length  === 0">
        <thead>
            <tr>
                <th>#</th>
                <th>Cliente</th>
                <th>Cédula</th>
                <th>Seguimientos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of listaClientesSeguimientos; index as rowIndex">
                <td class="text">{{(rowIndex + 1) + (10 * num)}}</td>
                <td class="text">{{cliente.usuario.nombre}}</td>
                <td class="text">{{cliente.cedula}}</td>
                <td>
                    <p-button icon="pi pi-list" styleClass="p-button-sm p-button-help" tooltipPosition="bottom" pTooltip="Ver seguimientos cliente" (click)="abrirModal(cliente)" ></p-button>
                </td>
            </tr>
        </tbody>
    </table>
        <!-- tabla de seguimientos por fecha -->
    <table class="table table-dark table-borderless table-sm table-striped tablaEstilo"  *ngIf="seguimientosPorFecha.length > 0 && seleccionCampo === 'fecha'">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>cliente</th>
                <th>Satisfacción</th>
                <th>Observación</th>
                <th>Inconveniente</th>
                <th>Suegerencia</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let seguimiento of seguimientosPorFecha; index as rowIndex">
                <td class="text">{{(rowIndex + 1) + (10 * num)}}</td>
                <td class="text">{{seguimiento.fecha |date:'dd/MM/yyyy'}}</td>
                <td>{{seguimiento.cliente.usuario.nombre}}</td>
                <td class="text">
                    <p-rating [ngModel]="seguimiento.nivelSatisfaccion" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
                </td>
                <td class="text">{{seguimiento.observacion}}</td>
                <td class="text">{{seguimiento.razonInconveniente}}</td>
                <td class="text">{{seguimiento.sugerenciaCliente}}</td>
                <td>
                   <!-- pasmos id seguimineto a editar -->
                    <p-button icon="pi pi-pencil" styleClass="p-button-sm p-button-warning" [routerLink]="['/agregarSeguimiento', ':idc', seguimiento.id]"></p-button>
                </td>
                <td>
                    <p-button icon="pi pi-trash" styleClass="p-button-sm p-button-danger" (click)="eliminarSeguimiento(seguimiento)" ></p-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>  

<!-- Paginador  -->
<app-paginador *ngIf="paginador" [paginador]="paginador" [nombreUrl]="'seguimientoCliente'" [num]="num"></app-paginador>
<div *ngIf="listaClientesSeguimientos.length === 0" class="bg-info w100 mt-2 animated fadeIn">
    <p class="textInfo m" *ngIf="!mensajeError">No hay Datos a mostrar  </p>
    <p class="textInfo m animated fadeIn" *ngIf="mensajeError"> {{mensajeError}} </p>
</div>

<!-- dialog -->
<p-confirmDialog class="dialog" [baseZIndex]="10000" [autoZIndex]="true" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<!-- Modal seguimientos-->
<p-dialog *ngIf="seguimientosCliente" header="Seguimientos de : {{seguimientosCliente.usuario.nombre}}" [(visible)]="abrir" [modal]="true"  [maximizable]="true"
    [draggable]="false" [resizable]="false"  styleClass="ff">
    <div *ngIf="seguimientosCliente">
        <!-- tabla de seguimientos por cliente -->
        <table class="table table-dark table-borderless table-sm table-striped tablaEstilo"  *ngIf="seguimientosCliente.seguimientos.length > 0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Satisfacción</th>
                    <th>Observación</th>
                    <th>Inconveniente</th>
                    <th>Sugerencia</th>
                    <th *ngIf="authService.hasRole('ROLE_Admin')">Creador Por</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let seguimiento of seguimientosCliente.seguimientos; index as rowIndex">
                    <td class="text">{{(rowIndex + 1) + (10 * num)}}</td>
                    <td class="text">{{seguimiento.fecha |date:'dd/MM/yyyy'}}</td>
                    <td class="text">
                        <p-rating [ngModel]="seguimiento.nivelSatisfaccion" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
                    </td>
                    <td class="text">{{seguimiento.observacion}}</td>
                    <td class="text">{{seguimiento.razonInconveniente}}</td>
                    <td class="text">{{seguimiento.sugerenciaCliente}}</td>
                    <td class="text" *ngIf="authService.hasRole('ROLE_Admin')">{{seguimiento.user.username}}</td>
                    <td>
                       <!-- pasmos id seguimineto a editar -->
                        <p-button icon="pi pi-pencil" styleClass="p-button-sm p-button-warning" [routerLink]="['/agregarSeguimiento', ':idc', seguimiento.id]"></p-button>
                    </td>
                    <td>
                        <p-button icon="pi pi-trash" styleClass="p-button-sm p-button-danger" (click)="eliminarSeguimiento(seguimiento)" ></p-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!seguimientosCliente || seguimientosCliente.seguimientos.length === 0" class="bg-info w100 mt-2 animated fadeIn">
        <p class="textInfo m">No hay Datos a mostrar</p>
    </div>
    <ng-template pTemplate="footer" >
        <div class=" w100 d-flex-between">
            <p-button icon="pi pi-plus" styleClass="p-button-text" label="Agregar seguimiento"  [routerLink]="['/agregarSeguimiento', seguimientosCliente.id, ':ids']"></p-button>
        <p-button icon="pi pi-check" (click)="abrir=false" label="Ok" styleClass="p-button-text"></p-button>
        </div>
    </ng-template>
</p-dialog>

