<!-- El archivo Html contiene varios componentes y clases con estilos CSS propios  
de la libreria primeNg -->
<h1>Interes</h1>
<!-- contenedor donde se encuentra las funcionalidades de buscar y agregar -->
<div class="contenedor">
    <div class="seccion conten">
        <!-- input para buscar -->
        <div class="buscarTxt busqueda">
            <span class="p-float-label mar-r">
                <input id="float-input" type="text"  [(ngModel)]="terminoBusqueda"  pInputText  >
                <label for="float-input">Buscar por nombre</label>         
            </span>
            <!-- btn busqueda -->
            <p-button class="mr" icon="pi pi-search" styleClass="p-button-sm p-button-secondary"  (click)="filtrarInteres()"></p-button>
            <div *ngIf="verificarTermino" class="bg-danger w100 mt-1 ml-2 animated fadeIn">
                <p class="textInfo m">Ingrese al menos 1 caracteres</p>
            </div>
        </div>
    </div>
    <!-- buttom agregar -->
    <p-button class="conten" [routerLink]="['/agregarInteres/:id']" icon="pi pi-plus-circle" label="Agregar" styleClass="p-button-sm" *ngIf="authService.hasRole('ROLE_Admin')"></p-button>
</div>

<!-- contenedor donde me lista los registros -->
<div *ngIf="listaInteres.length > 0" class="w100 table-responsive">
    <!-- tabla de los registros -->
    <table class="table table-dark table-borderless table-sm table-striped tablaEstilo" *ngIf="listaInteres.length > 0">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripcíon</th>
                <th *ngIf="authService.hasRole('ROLE_Admin')">Editar</th>
                <th *ngIf="authService.hasRole('ROLE_Admin')">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let interes of listaInteres; index as rowIndex">
                <td class="text">{{(rowIndex + 1) + (10 * num)}}</td>
                <td class="text">{{interes.nombre}}</td>
                <td class="text">{{interes.descripcion}}</td>
                <td *ngIf="authService.hasRole('ROLE_Admin')">
                    <p-button icon="pi pi-user-edit" styleClass="p-button-sm p-button-warning" [routerLink]="['/agregarInteres',interes.id]"></p-button>
                </td>
                <td *ngIf="authService.hasRole('ROLE_Admin')">
                    <p-button icon="pi pi-trash" styleClass="p-button-sm p-button-danger" (click)="eliminarInteres(interes)"></p-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Paginador  -->
<app-paginador *ngIf="paginador" [paginador]="paginador" [nombreUrl]="'interes'" [num]="num"></app-paginador>

<!-- Contenedor con mensaje cuando no hay registros encontrados -->
<div *ngIf="listaInteres.length === 0" class="bg-info w100 mt-2 animated fadeIn">
    <p class="textInfo m" *ngIf="!mensajeError">No hay Datos a mostrar  </p>
    <p class="textInfo m animated fadeIn" *ngIf="mensajeError"> {{mensajeError}} </p>
</div>
<!-- dialog -->
<p-confirmDialog class="dialog" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

