.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4%;
    margin-top: 4%;
    margin-left: 0%;
    margin-right: 0%;
}

.mar-r {
    margin-right: 2%;
}
.contenedor .seccion,.busqueda  {
    display: flex;
    align-items: center;
    margin-right: 4%;
}
.busqueda{
    align-content: center;

}

h1 {
    margin-bottom: 0;
    margin-top: 1.5%;
    text-align: center;
    color: white;
}

.mr {
    margin-right: 2%;
}

.tablaEstilo{
background-color: #1f2d40;
}
tr {
    border-bottom: 1px solid #304562;
}
th,td {
    padding: 1rem 1rem;

}

.dialog {
    width: '50vw';
 }

 /*  :host estilos a etiquetas secundarias de primeNg  */
:host ::ng-deep .ss {
    max-width: 50%;
    width: 50%;
}

/*  Media Queries para distintos tamaños de dispositivos */
/*  Media Querie de 630px  */
@media screen and (max-width:630px) {
    :host ::ng-deep .ss {
        max-width: 80%;
        width: 80%;
    }
}

/*  Media Querie de 510px  */
@media screen and (max-width:510px) {
    .conten{
        display: flex;
        flex-wrap: wrap;
       margin: 2%;
        justify-content: center;
        align-content: center;
    }
    .seccion {
        margin-right: 5%;
    }
    .contenedor {
        display: flex;
        flex-wrap: wrap;
       justify-content: center;
       align-content: center;
    }
    h1 {
        font-size: 2em;
    }
    .busqueda {
        margin-top: 2%;
    }

    .dialog {
        width: '80vw';
     }
}

/*  Media Querie de 400px  */
@media screen and (max-width:400px) {
    .dialog {
        width: '70vw';
    }
}