<!-- componente menu -->
<app-menu *ngIf="authService.isAuthenticated()"></app-menu>
<!-- muestra los componentes hijos de un componente -->
<div class="contenedor p-mb-2">
    <router-outlet></router-outlet>
</div>
<!-- componente footer -->
<app-footer></app-footer>