<!-- El archivo Html contiene varios componentes y clases con estilos CSS propios  
de la libreria primeNg -->
<h1 class="p-text-center p-mb-4 p-mt-4">Tarjetas</h1>

<!-- contenedor donde se encuentra las funcionalidades de buscar y agregar -->
<div class="contenedor p-grid p-jc-between">
    <div class="seccion conten">
        <!-- contiene la etiqueta y el campo-->        
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="terminoBusqueda" (keyup)="cambiarUrl()" > 
            <label for="float-input">Código tarjeta</label>
        </span>
        <!-- buttom busqueda -->
        <p-button class=" buscar"  icon="pi pi-search" (click)="filtrarTarjetas()" styleClass="p-button-sm p-button-secondary" id="elemento3"></p-button>
        <!-- conteniene el mensaje de error cuando no se ingresa ningun carracter -->
        <div *ngIf="verificarTermino" class="bg-danger w100 mt-1 ml-2 animated fadeIn">
            <p class="textInfo m">Ingrese al menos 1 caracteres</p>
        </div>
    </div>
    <!-- buttom agregar -->
    <p-button class="conten" [routerLink]="['/agregarTarjeta/:id']" icon="pi pi-plus-circle" label="Agregar" styleClass="p-button-sm" *ngIf="authService.hasRole('ROLE_Admin')"></p-button>
</div>

<!-- contenedor donde me lista los registros -->
<div>
    <div *ngIf="listaTarjetas.length > 0" class="w100 table-responsive">
        <!-- tabla de los registros -->
        <table class="table table-dark table-borderless table-sm table-striped tablaEstilo" *ngIf="listaTarjetas.length > 0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Código</th>
                    <th>Fecha-caducidad</th>
                    <th *ngIf="authService.hasRole('ROLE_Admin')">Editar</th>
                    <th *ngIf="authService.hasRole('ROLE_Admin')">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tarjeta of listaTarjetas; index as rowIndex">
                    <td class="text">{{(rowIndex + 1)+ (10 * num)}}</td>
                    <td class="text">{{tarjeta.codigo}}</td>
                    <td class="text">{{tarjeta.fechaCaducar | date:'dd/MM/yyyy'}}</td>
                    <td *ngIf="authService.hasRole('ROLE_Admin')">
                        <p-button icon="pi pi-user-edit" styleClass="p-button-sm p-button-warning" [routerLink]="['/agregarTarjeta',tarjeta.id]"></p-button>
                    </td>
                    <td *ngIf="authService.hasRole('ROLE_Admin')">
                        <p-button icon="pi pi-trash" styleClass="p-button-sm p-button-danger" (click)="eliminarTarjeta(tarjeta)"></p-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Paginador  -->
    <app-paginador *ngIf="paginadorTarjeta" [paginador]="paginadorTarjeta" [nombreUrl]="'tarjeta'" [num]="num"></app-paginador>
    
    <!-- Contenedor con mensaje cuando no hay registros encontrados -->
    <div *ngIf="listaTarjetas.length === 0" class="bg-info w100 mt-2 animated fadeIn">
        <p class="textInfo m" *ngIf="!mensajeError">No hay Datos a mostrar  </p>
        <p class="textInfo m animated fadeIn" *ngIf="mensajeError"> {{mensajeError}} </p>
    </div>
</div>
<!-- dialog -->
<p-confirmDialog [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>