.contenedor {
    margin-bottom: 4%;
    margin-top: 4%;
    margin-left: 1%;
    margin-right: 1%;
}

.contenedor .seccion {
    display: flex;
    align-items: center;
}

#elemento1, #elemento2 {
    margin-left: 3px;
}

#elemento3 {
    margin-left: 3px;
}

h1 {
    color: white;
}

.tablaEstilo{
    background-color: #1f2d40;
}
tr {
    border-bottom: 1px solid #304562
}
th,td {
    padding: 1rem 1rem;
        
}

.dialog {
    width: '50vw'
 }

/*  Media Queries para distintos tamaños de dispositivos */
/*  Media Querie de 520px  */
 @media screen and (max-width:520px) {
    .table-wrapper {
        width: 100%; 
        overflow: auto;
        margin: 0; 
         max-width: auto; 
    }
    td th{
        font-size: 14px;
    }
    h1 {
        font-size: 2em;
    }
} 

/*  Media Querie de 510px  */
@media screen and (max-width:510px) {
    .dialog {
        width: '80vw'
     }
}

/*  Media Querie de 400px  */
@media screen and (max-width:400px) {
     .conten{
        display: flex;
        flex-wrap: wrap;
        margin: 2%;
         justify-content: center;
         align-content: center;
     }
     .contenedor {
        justify-content: center;
        align-content: center; 
     }
     .dialog {
        width: '80vw'
     }
} 

/*  Media Querie de 375px  */
@media screen and (max-width:375px) {
     .conten{
        margin-right: 3%; 
     }
     h1 {
        font-size: 1.7em;
    }
    .dialog {
        width: '80vw'
     }
} 
