<!-- El archivo Html contiene varios componentes y clases con estilos CSS propios  
de la libreria primeNg -->
<h1>Vendedores</h1>
<!-- contenedor donde se encuentra las funcionalidades de buscar y agregar -->
<div class="contenedor">
    <div class="seccion conten">
        <!-- comboBox -->
        <p-dropdown class="buscarTxt  mr" [options]="buscarPor" [(ngModel)]="seleccionCampo" placeholder="Buscar por" (onChange)="verificarSeleccionCampo()"></p-dropdown>
        <div *ngIf="verificarCampo" class="bg-danger w100 mt-1 ml-2 animated fadeIn">
            <p class="textInfo m">Seleccione un campo de búsqueda</p>
        </div>
        <!-- input para buscar -->
        <div class="buscarTxt busqueda">
            <span class="p-input-icon-left mr" >
                <i class="pi pi-search"></i>
                <input type="text"  [(ngModel)]="terminoBusqueda"  pInputText placeholder="Search" >         
            </span>
            <!-- buttom busqueda -->
            <p-button class="mr" icon="pi pi-search" styleClass="p-button-sm p-button-secondary"  (click)="filtrarVendedores()"></p-button>
            <div *ngIf="verificarTermino" class="bg-danger w100 mt-1 ml-2 animated fadeIn">
                <p class="textInfo m">Ingrese al menos 1 caracteres</p>
            </div>
        </div>
    </div>
    <!-- buttom agregar -->
    <p-button class="conten" [routerLink]="['/agregarVendedor/:id']" icon="pi pi-plus-circle" label="Agregar" styleClass="p-button-sm" *ngIf="authService.hasRole('ROLE_Admin')"></p-button>
</div>

<!-- contenedor donde me lista los registros -->
<div *ngIf="listaVendedores.length > 0" class="w100 table-responsive">
    <!-- tabla de los registros -->
    <table class="table table-dark table-borderless table-sm table-striped tablaEstilo" *ngIf="listaVendedores.length > 0">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th *ngIf="authService.hasRole('ROLE_Admin')">Editar</th>
                <th *ngIf="authService.hasRole('ROLE_Admin')">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vendedor of listaVendedores; index as rowIndex">
                <td class="text">{{(rowIndex + 1) + (10 * num)}}</td>
                <td class="text">{{vendedor.nombres}}</td>
                <td class="text">{{vendedor.apellidos}}</td>
                <td class="text">{{vendedor.email}}</td>
                <td class="text">{{vendedor.telefono}}</td>
                <td *ngIf="authService.hasRole('ROLE_Admin')">
                    <p-button icon="pi pi-user-edit" styleClass="p-button-sm p-button-warning" [routerLink]="['/agregarVendedor',vendedor.id]"></p-button>
                </td>
                <td *ngIf="authService.hasRole('ROLE_Admin')">
                    <p-button icon="pi pi-trash" styleClass="p-button-sm p-button-danger" (click)="eliminarVendedor(vendedor)"></p-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Paginador  -->
<app-paginador *ngIf="paginador" [paginador]="paginador" [nombreUrl]="'vendedor'" [num]="num"></app-paginador>

<!-- Contenedor con mensaje cuando no hay registros encontrados -->
<div *ngIf="listaVendedores.length === 0" class="bg-info w100 mt-2 animated fadeIn">
    <p class="textInfo m" *ngIf="!mensajeError">No hay Datos a mostrar  </p>
    <p class="textInfo m animated fadeIn" *ngIf="mensajeError"> {{mensajeError}} </p>
</div>

<!-- dialog -->
<p-confirmDialog class="dialog" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
