h1 {
    color: white;
}

.form-controles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.errorTxt{
    color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.alto {
    margin-top: 50px;
}

/*  Media Queries para distintos tamaños de dispositivos */
/*  Media Querie de 800px  */
@media screen and (max-width: 800px) {
    .contenedorBtn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        margin-top: 6%;
    }
    .elemento3 {
        margin-right: 10%;
        margin-top: -3%;
        text-align: center;  
    }
    .formulario {
        width: 100%;
    }
    h1 {
        font-size: 2em;
    }
}

/*  Media Querie de 550px  */
@media screen and (max-width: 550px) {
    .form > .form-controles, .contenedorBtn{
        margin-top: 0px;
    }
    .elemento3 {
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto; 
    }
    h1 {
        font-size: 1.6em;
    }
}