<!-- El archivo Html contiene varios componentes y clases con estilos CSS propios  
de la libreria primeNg -->
<h1 class="p-text-center p-mb-4 p-mt-4" *ngIf="!vendedorSeleccionado">Agregar vendedor</h1>
<h1 class="p-text-center p-mb-4 p-mt-4" *ngIf="vendedorSeleccionado">Actualizar vendedor</h1>
<div class="p-mt-4">
<p-panel header="Llene los campos requeridos " styleClass="animated fadeIn" >
    <div class="w100 d-flex ">
        <!-- Formulario reactivo -->
        <form class="w40 formulario" [formGroup]="vendedorForm">
            <!-- Visualiza los errores que me devuelva el back-end -->
            <div class="erroes bg-danger animated fadeIn" *ngIf="erroesBack.length > 0">
                <p class="textDanger m errorTxt" *ngFor="let error of erroesBack">{{error}}</p>
            </div>
            <!-- contiene la etiqueta, el campo y los posibles mensajes de error -->
            <div class="form-controles p-mb-1">
                <label class="p-mb-2">Ingrese su nombre</label>
                <input type="text" pInputText class="p-inputtext-lg mT" formControlName="nombres">
                <div *ngIf="vendedorForm.controls.nombres.errors !== null && formSubmitted">
                    <span class="textDanger" *ngIf="vendedorForm.controls.nombres.errors.required == true">Este campo es requerido</span>
                    <span class="textDanger" *ngIf="vendedorForm.controls.nombres.errors.minlength">Minimo dos caracteres</span>
                </div>
            </div>
            <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
            <div class="form-controles p-mb-1">
                <label class="p-mb-2">Ingrese su apellido</label>
                <input type="text" pInputText class="p-inputtext-lg" formControlName="apellidos">
                <div *ngIf="vendedorForm.controls.apellidos.errors !== null && formSubmitted">
                    <span class="textDanger" *ngIf="vendedorForm.controls.apellidos.errors.required == true">Este campo es requerido</span>
                    <span class="textDanger" *ngIf="vendedorForm.controls.apellidos.errors.minlength">Minimo dos caracteres</span>
                </div>
            </div>
            <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
            <div class="form-controles p-mb-1">
                <label class="p-mb-2">Ingrese su email</label>
                <input type="text" pInputText class="p-inputtext-lg" formControlName="email">
                <div *ngIf="vendedorForm.controls.email.errors !== null && formSubmitted">
                    <span class="textDanger" *ngIf="vendedorForm.controls.email.errors.required == true">Este campo es requerido</span>
                    <span class="textDanger" *ngIf="vendedorForm.controls.email.errors.email">Email inválido</span>
                </div>
            </div>
            <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
            <div class="form-controles p-mb-1">
                <label class="p-mb-2">Ingrese su telefono</label>
                <input type="text" pInputText class="p-inputtext-lg" formControlName="telefono">
                <div *ngIf="vendedorForm.controls.telefono.errors !== null && formSubmitted">
                    <span class="textDanger" *ngIf="vendedorForm.controls.telefono.errors.required == true">Este campo es requerido</span>
                    <span class="textDanger" *ngIf="vendedorForm.controls.telefono.errors.pattern">Ingrese número de telefono o movil válidos</span>
                </div>
            </div>
            <!-- contiene los botones de acción -->
           <div class="contenedorBtn  p-mt-4 mt btnAction flex w100">
                <div class="elemento3 p-grid">
                    <p-button class="p-col-6" icon="pi pi-arrow-left" [routerLink]="['/vendedor/:page']" label="Regresar" styleClass="p-button-lg p-button-outlined p-button-info">
                    </p-button>
                </div>
                <div class="elemento3 p-grid">
                    <p-button class="p-col-6 p-md-2" icon="pi pi-save" label="Guardar" (click)="enviarDatos()" styleClass="p-button-lg p-button-primary">
                    </p-button>
                </div>
            </div>
        </form>
    </div>
</p-panel>
</div>