<!-- El archivo Html contiene varios componentes y clases con estilos CSS propios  
de la libreria primeNg -->
<h1 class="p-text-center p-mb-4 p-mt-4" *ngIf="!tarjetaSeleccionado">Agregar tarjeta</h1>
<h1 class="p-text-center p-mb-4 p-mt-4" *ngIf="tarjetaSeleccionado">Actualizar tarjeta</h1>
<p-panel header="Formulario de tarjeta" styleClass="animated fadeIn">
    <div class="w100 d-flex p-mx-auto">
        <!-- Formulario reactivo -->
        <form class="w40 p-mx-auto form formulario" [formGroup]="tarjetaForm">
            <!-- Visualiza los errores que me devuelva el back-end -->
            <div class="erroes " *ngIf="erroesBack.length > 0">
                <p class="bg-danger" *ngFor="let error of erroesBack">{{error}}</p>
            </div>
             <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
            <div class="form-controles  p-mb-4">
                <label class="p-mb-2">Ingrese el codigo</label>
                <input type="text" pInputText class="p-inputtext-lg mT" formControlName="codigo">
                <div *ngIf="tarjetaForm.controls.codigo.errors !== null && formSubmitted">
                    <span class="textDanger" *ngIf="tarjetaForm.controls.codigo.errors.required == true">Este campo es requerido</span>
                    <span class="textDanger" *ngIf="tarjetaForm.controls.codigo.errors.minlength">Minimo dos caracteres</span>
                </div>
            </div>
             <!-- contiene la etiqueta, el campo y los posibles mensajes de error-->
            <div class="form-controles  p-mb-4">
                <label class="p-mb-2">Ingrese la fecha de caducidad</label>
                <p-calendar formControlName="fechaCaducar" dateFormat="dd-mm-yy" [showIcon]="true" inputId="icon" styleClass="w100"></p-calendar>
                <div *ngIf="tarjetaForm.controls.fechaCaducar.errors !== null && formSubmitted">
                    <span class="textDanger" *ngIf="tarjetaForm.controls.fechaCaducar.errors.required == true">Este campo es requerido</span>
                </div>
            </div>
            <!-- contiene los botones de acción -->
            <div class="contenedorBtn mt btnAction flex w100">
                <div class="elemento3 p-grid">
                    <p-button class="p-col-6" icon="pi pi-arrow-left" [routerLink]="['/tarjeta/:page']" label="Regresar" styleClass="p-button-lg p-button-outlined p-button-info">
                    </p-button>
                </div>
                <div class="elemento3 p-grid">
                    <p-button class="p-col-6 p-md-2" icon="pi pi-save" label="Guardar" (click)="enviarDatos()" styleClass="p-button-lg p-button-primary">
                    </p-button>
                </div>
            </div>
        </form>
    </div>
</p-panel>