h1 {
    color: white;
}

.form-controles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mb {
    margin-bottom: 2px;
}

.mt {
    margin-top: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.alto {
    margin-top: 50px;
}
.errorTxt{
    color: white;
}

/*  Media Queries para distintos tamaños de dispositivos */
/*  Media Querie de 780px  */
@media screen and (max-width: 780px) {
    .contenedorBtn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
    .elemento3 {
        margin-right: 10%;
        margin-top: -3%;
        text-align: center;   
    }
    .formulario {
        width: 100%;
    }
    h1 {
        font-size: 2em;
    }
}

/*  Media Querie de 780px  */
@media screen and (max-width: 550px) {
    .form > .form-controles, .contenedorBtn{
        margin-top: -12px;
    }
    .elemento3 {
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto; 
    }
    h1 {
        font-size: 1.6em;
    }
}
 