/* Estilos globales */

html,
body {
    margin: 0px;
    background-color: var( --surface-b);
    font-family: var( --font-family);
    padding: 0px;
}

.text-layout {
    color: var(--text-color);
}

.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    display: inline-block;
    background: #1f2d40;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid #304562;
    clear: both;
}
:host   ::ng-deep .swal2 {
    z-index: 999999999;
    background-color: yellow;
}

.w100 {
    width: 100%;
}

.w90 {
    width: 90%;
}

.w80 {
    width: 80%;
}

.w70 {
    width: 70%;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

.w25 {
    width: 25%;
}

.w20 {
    width: 20%;
}

.w15 {
    width: 15%;
}
.w10 {
    width: 10%;
}
.w5 {
    width: 5%;
}

.bg-danger {
    background-color: #F48FB1;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    border-radius: 3px;
}

.bg-info {
    background-color: rgb(43, 190, 226);
    padding: 5px;
    font-size: 15px;
    border-radius: 3px;
}


/* texto */

.textDanger {
    color: rgb(226, 46, 46);
}

.textInfo {
    color: rgb(255, 247, 247);
}

.text {
    height: auto;
    word-wrap: break-word;
}

.m {
    margin: 0px;
}

.mT {
    margin-top: 0px;
}

.mt-2 {
    margin-top: 4px;
}

.mb-2 {
    margin-bottom: 4px;
}

.mb-1 {
    margin-bottom: 2px;
}

.ml-2 {
    margin-left: 4px;
}

/* font */
.fn-12{
    font-size: 12px;
}
/* flex */

.d-flex {
    display: flex;
    justify-content: center;
}
.d-flex-around {
    display: flex;
    justify-content: space-around;
}
.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-justify-content {
    justify-content: center;
}
.d-justify-end {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}

.justy
/* swal */
.posicion {
    z-index: 10000;
}
/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}