.informacion {
    align-self: start;
}

.contacto {
    display: flex;
    padding: 0px 2px 0px 2px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

.wrapper {
    margin: 0px 10px 3px 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    flex-wrap: wrap;
    max-width: auto;
}

.redes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 15px 0px 0px;
    align-items: center;
}


hr {
    margin-top: 0;
    margin-bottom: 0;
}

h2{
    font-size: 1.3em;
    margin-bottom: 1%;
}
p{
    font-size: 1.1em;
}

@media screen and (max-width:820px) {
    .redesLink {
        display: contents;
        margin: 0 auto;
    }
    .informacion {
        display: block;
        margin: 0 auto;
    }
    .wrapper {
        display: block;
    }
    .redes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .textInfo {
        margin-right: 5%;
    }
    .texto{
        font-size: 1.1em;
    }
    .texto{
        font-size: 1em;
    }
    h2{
        margin-bottom: 1%;
    }
}