<!-- El archivo Html contiene varios componentes  propios  
de la libreria primeNg -->
<p-footer class="footer">
    <hr>
    <section id="contactame" class="contacto">
        <div class="wrapper ">
            <!-- contenedor de  información -->
            <div class="informacion ">
                <h2 class="titulo mb-1">Familias unidas por los enfermos de cáncer</h2>
                <p class="texto" style="color: whitesmoke;"><strong style="color: rgb(255, 233, 233);">Dirección: </strong>Primera Convención y Juan Pio Montufar </p>
                <p class="texto" style="color: whitesmoke;"><strong style="color: white;">Telefono: </strong>098 703 2442</p>
            </div>
            <!-- contenedor de iconos de las redes sociales -->
            <div class="w20 redesLink">
                <h2 class=" mb-2 subTitulo">Nuestras redes sociales</h2>
                <div class="redes">
                    <a href="https://www.facebook.com/FUPEC.EC" class="textInfo ">
                        <i class="pi pi-facebook" style="font-size: 3.2rem" href="https://www.facebook.com/FUPEC.EC"></i>
                    </a>
                    <a href="https://www.instagram.com/p/CMxBxSMFFez/?igshid=1lgy0mynxd4td" class="textInfo ">
                        <i class="pi pi-camera" style="font-size: 3.2rem" href="https://www.facebook.com/FUPEC.EC"></i>
                    </a>
                    <a href="https://twitter.com/fupececuador" class="textInfo ">
                        <i class="pi pi-twitter" style="font-size: 3.2rem" href="https://www.facebook.com/FUPEC.EC"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</p-footer>