.textColor {
    color: whitesmoke;
}
/*  Media Queries para distintos tamaños de dispositivos */
/*  Media Querie de 630px  */
@media screen and (max-width:630px) {
    :host ::ng-deep .ss {
        max-width: 80%;
        width: 80%;
    }
}

/*  Media Querie de 400px  */
@media screen and (max-width:400px) {
    .fechaC  {
        display: block;
        margin: auto;
        margin-right: 2%;
    }
    :host ::ng-deep .ss {
        max-width: 98%;
        width: 98%;
    }
    .fecha {
        margin-bottom: 2%;
        width: 100%;
    }
}