<!-- 
    Vista de reporte seguimientos
    dos calendarios, un select y un boton para buscar
    dos botones generar reporte pdf y xlsx
    tabla de datos
 -->
<div class="w100 d-flex-between  mt-2 mb-2">
    <div class="w60 d-flex-between d-justify-end" >
        <!-- Contiene los inputs para buscar rango de fechas -->
        <div class="d-flex-between w60" >
            <div class="fecha p-mr-2">
               <label class="p-mb-2 textColor" >Fecha inicio:</label>
               <p-calendar [(ngModel)]="campoFechaDesde" [class]="'p-inputtext-lg'" dateFormat="dd-mm-yy" [showIcon]="true" inputId="icon" class="mr"></p-calendar>
            </div>
            <div class="fecha ">
               <label class="p-mb-2 textColor" >Fecha hasta:</label>
               <p-calendar [(ngModel)]="campoFechaHasta" [class]="'p-inputtext-lg'"  dateFormat="dd-mm-yy" [showIcon]="true" inputId="icon" class="mr"></p-calendar>
            </div>
            <!-- comboBox -->
        </div>
        <div class="w20" >
            <label class="p-mb-2 textColor" >Nivel de satisfaccion:</label>
            <p-dropdown class="p-inputtext-lg" [options]="nivelSatisfaccionCliente" styleClass="w100" (onChange)="mostar($event)">
            </p-dropdown>
            
        </div>
        <div class="w15 " >
            <p-button icon="pi pi-search" label="Buscar" styleClass="p-button-lg" (click)="listaReporteSeguimientos()"></p-button>
        </div>
   </div>
   <div class="">
    <label class="p-mb-2 textColor" >Exportar:</label>
    <div>
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="generarXlxs()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="generarPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
    </div>
</div>
</div>
<!-- tabla para mostrar los datos del reporte -->
<p-table #dt [columns]="columnas" *ngIf="seguimientos.length> 0"
         [value]="seguimientos" 
         [paginator]="true" 
         [rows]="10" [showCurrentPageReport]="true" 
         currentPageReportTemplate="Desde el {first} al {last} de {totalRecords} elementos" 
         [rowsPerPageOptions]="[10,25,50]"
         [tableStyleClass]="'animated, fadeIn'">
    <ng-template pTemplate="caption">
        
    </ng-template>
    <!-- cabecera -->
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th [class]="'w5'">
                #
            </th>
            <th *ngFor="let col of columnas">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <!-- body -->
    <ng-template pTemplate="body" let-rowData let-columns="columnas" let-index="rowIndex" >
        <tr [pSelectableRow]="rowData">
            <td>
                {{index+1}}
            </td>
            <td>
                {{rowData.fecha |date:'d/MM/yyyy'}}
            </td>
            <td>
                {{rowData.cliente.usuario.nombre}}
            </td>
            <td>
                {{rowData.cliente.tarjeta.codigo}}
            </td>
            <td>
                {{rowData.cliente.vendedor.nombres}} {{rowData.cliente.vendedor.apellidos}}
            </td>
            <td>
                {{rowData.nivelSatisfaccion}}
            </td>
            <td>
                {{rowData.observacion}}
            </td>
            <td>
                {{rowData.razonInconveniente}}
            </td>
            <td>
                {{rowData.sugerenciaCliente}}
            </td>
        </tr>
    </ng-template>
    <!-- si no hay datos  -->
    <ng-template pTemplate="emptymessage" let-columns="columnas">
        <tr>
            <td [attr.colspan]="columnas.length+1">
                No hay Datos
            </td>
        </tr>
    </ng-template>
</p-table>
<!-- Contenedor con mensaje cuando no hay registros encontrados -->
<div *ngIf="seguimientos.length === 0" class="bg-info w100 mt-4 animated fadeIn">
    <p class="textInfo m" >No hay Datos a mostrar  </p>
</div>